<div :class="$style.root" :readonly="readonly" :disabled="disabled" :color="currentColor || this.formItemVM && this.formItemVM.color"
    :focus="focused" :clearable="clearable && currentValue"
    @click.self="!focused && focus()">
    <span :class="$style.baseline">b</span><!-- for baseline alignment -->
    <span :class="$style.placeholder">{{ currentValue ? '' : placeholder }}</span><!-- Compatible with IE9 -->
    <input ref="input" :class="$style.input" v-bind="$attrs" :value="currentValue"
        :placeholder="placeholder" v-focus="autofocus" :readonly="readonly" :disabled="disabled"
        @input="onInput" @focus="onFocus" @blur="onBlur" v-on="listeners"
        @compositionstart="compositionInputing = true"
        @compositionend="onCompositionEnd">
    <slot></slot>
    <span v-if="clearable && currentValue" :class="$style.clearable" @click.stop="clear"></span>
</div>
