.root {
    position: fixed;
    z-index: var(--z-index-toast);
    Top: var(--toast-top);
    Left: var(--toast-margin);
    width: var(--toast-width);
}

.root[position='top-center'], .root[position='bottom-center'] {
    Left: 50%;
    margin-left: calc(var(--toast-width) / -2);
}

.root[position='bottom-center'], .root[position='bottom-left'], .root[position='bottom-right'] {
    Top: auto;
    Bottom: var(--toast-margin);
}

.root[position='top-right'], .root[position='bottom-right'] {
    Left: auto;
    Right: var(--toast-margin);
}

.root[position='top-left'], .root[position='bottom-left'] {
    Left: var(--toast-margin);
    Right: auto;
}

.root[position='top-left'], .root[position='top-center'], .root[position='top-right'] {
    Top: var(--toast-top);
    Bottom: auto;
}

.root[position="static"] {
    position: static;
    width: auto;
}

.item {
    margin-bottom: var(--toast-item-space);
    padding: var(--toast-item-padding);
    background: var(--toast-background-color);
    color: var(--toast-item-color);
}

.close {
    float: right;
    color: var(--toast-close-color);
}

.close::before {
    content: '×';
    font-size: var(--toast-close-font-size);
    line-height: 0.8;
}
